h1{
  text-align: center;
}

p{
  font-size: 24px;
  text-align: center;
}

.botoes{
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 10%;
  -webkit-column-count: 10%;
  column-count: 10%;
  padding: 0 50px;
  text-align: center;
}

.react{
  width: 100%;
  max-width: 400px;
}

.node{
  width: 100%;
  max-width: 400px;
}

@media (max-width: 200px) {
  .botoes{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}